.cardBGTop{
    background-color: white;
    border-radius: 20px;
height:110%;
}
.cardBGTop:hover{
    background-color: rgba(255, 216, 57, 0.5);
}
.topProductText{
    color: red;
}
.imgClass{
    height:50%;

}