.qrbox{
    height: 200px;
    background: #dddde7;
    border-radius: 10px;
}

.scanBtn{

    background-color: #FFD839 !important;
    border: none !important;
    color: black !important;
    font-weight: 600 !important;
    border-radius: 50px !important;
}

.container{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}