.mainBox {
    background: #FFD839;
    height: 100vh;
}

.imageB {
    background-size: contain;
    /* height: 200px; */
    width: 400px;
}

.bBox{
    height: 30vh;
}


.content {
    height: 70vh;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    background-color: white;
    border-radius: 70px 0px 0px 0px;
}

.pbtn{
    background-color: #EFEEEE;
    border: none;
    color: black;
}

.active{
    background-color: rgba(255, 234, 148, 0.8) !important;
        /* border-color: #FFD839 !important; */
}

.pbtn::after{
    background-color: #fcca05b8 !important;
    color: black !important;
}

.addon-box{
    background-color: #EFEEEE;
    height: 100px;
}

.aimg{
    width: 80px;
    height: 70px;
}

.aimgBox{
    background-size: cover;
}

.afaplusico{
    font-size: 30px;
    color: green;
    position: absolute;
    
}