
.logoBox{
    width: 27%;
    height: 40px;
    background-color:rgb(255, 239, 239);
    justify-content: center;
    align-items: center;

}

.logos{
    /* margin-left: 5%; */
    margin-top: 1%;
}

.btn1{
    background-color: #FFD839 !important;
    border: none;
    color: black ;
    font-weight: 700 ;
    border-radius: 50px ;
    width: 50%;
}

.input1{
    background-color: #E8EAED;
}
.firstDiv{
    padding-left: 8% ;
}