/* src/components/SearchBar.css */
.searchbox-wrap {
    position: relative;
  }
  
  .searchbox {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    background-color: #e6eaed;
    border-radius: 50px;
    text-align: center;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translateY(-50%);
    color: #8a8a8a;
  }
